.modal-overlay{
    visibility: hidden;
    z-index: -1;
    position: fixed;

}
.open-modal{
    visibility: visible;
    z-index: 1;
}
.banner{
    visibility:visible;

}
.banner-1{
    visibility: hidden;
}